extends layout

block content
  h1 CURRENT STATUS 
  p Cards Sent (Today): #{ cardsSent }
  p Cards Sent (Week): #{ cardsSentWeek }
  p -----------
  p Cards Sent (Total): #{ cardsSentTotal }
  p -----------
  p Cards Pending (Today): #{ cardsPending }
  p Cards Pending (Week): #{ cardsPendingWeek }
  p -----------
  p Cards Pending (Total): #{ cardsPendingTotal }
  p -----------
  p MMS Sends Remaining: #{ mmsRemaining }
  